<html>
<body>
    <h1>Hello, <%= name %>!</h1>
    <br/>
    <p>Thank you for showing interest in our project. We're excited to have you on board and request you to proceed for survey completion.</p>
    <br/>
    <p>Regards</p>
    <p>Kamal</p>
</body>
</html>
